.blogs-top {
	background-color: $primary;
	&-content {
		@include container-sm;
		padding: 100px 0;
		text-align: center;
		&-half{
			width: 75%; 
			margin: auto;
		}
	}
}

.blogs {
	@include container;
	margin: 100px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	&-card {
		background-color: $primary-8;
		padding: 2rem;
		@include flex(column, center, flex-start, 1.5rem);
		img {
			width: 100%;
		}
		&-btn {
			@include btn-primary-ar;
			background-color: white;
			color: $primary;
			&:hover {
				opacity: 0.9;
			}
		}
	}
}

.blog-details {
	position: relative;
	&-content {
		@include container-sm;
		padding-top: 100px;
		&-time{
			display: flex; 
			justify-content: space-between; 
			align-items: center
		}
		.side-share{
			position: absolute; 
			display: flex; 
			flex-direction: column; 
			gap: 1rem; 
			left: -50px; 
			color: #59667d; 
			align-items: center; 
			width: fit-content; 
			height: fit-content; 
			font-size: 1.375rem;
		}
		ul {
			@include font-styles($gray, 1.125rem, normal, 400, 1.875rem);
			text-align: left;
			margin-top: 1.25rem;
			margin-bottom: 2.5rem;
			li {
				margin-bottom: 1rem;
				@include flex(row, flex-start, center, 1rem);
				i {
					color: $secondary;
					font-size: 1.5rem;
				}
			}
		}
		&-tags {
			@include flex(row, space-between, center, 1.625rem);
			margin: 1.5rem auto;
		}
	}
}


@media screen and (max-width: 600px){
	.blogs-top{
		&-content{
			padding: 40px 10px;
			&-half{
				width: 100%;
			}
		}		
	}

	.blogs{
		margin: 40px 10px;
		grid-template-columns: 1fr;
	}

	.blog-details{
		&-content{
			padding: 40px 10px;
			&-time{
				flex-direction: column;
				gap: 40px;
				align-items: flex-start;
				span{
					width: 100%;
					text-align: center;
				}
			}
			.side-share{
				position: static;
				flex-direction: row;
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 900px){
	.blogs-top{
		&-content{
			padding: 60px 10px;
			&-half{
				width: 100%;
			}
		}		
	}

	.blogs{
		margin: 60px 10px;
		grid-template-columns: 1fr 1fr;
	}

	.blog-details{
		&-content{
			padding: 60px 10px;
			
			.side-share{
				position: static;
				flex-direction: row;
				margin-bottom: 30px;
			}
		}
	}
}		