.contact-us {
	position: relative;
	&-top {
		@include container-sm;
		padding: 80px 0;
		text-align: center;
		&-half{
			width: 75%;
			margin: auto;
		}
	}

	&-content {
		@include container;
		margin-bottom: 80px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&-form {
			order: 1;
			@include flex(column, center, flex-start, 2rem);
			padding: 100px 50px 100px 100px;
			// background-color: $primary-8;
			form {
				@include flex(column, center, center, 1.25rem);
				width: 100%;
				input,
				textarea {
					padding: 0.75rem 1.125rem;
					width: 100%;
					border: none;
				}
				textarea {
					resize: none;
				}
				.btn {
					@include btn-primary-ar;
					width: 100%;
					&:hover {
						opacity: 0.9;
					}
				}
			}
		}
		img {
			order:2;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-cards {
		@include container;
		margin: 100px auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		&-card {
			@include flex(row, center, flex-start, 1rem);
			background-color: $primary-8;
			padding: 2.75rem;
			color: $primary;
			.card-icon {
				width: 3rem;
				height: 3rem;
				background-color: rgba(2, 58, 81, 0.16);
				@include flex(row, center, center, 0px);
				flex-shrink: 0;
				color: inherit;
				font-size: 1.25rem;
				font-weight: 600;
			}
		}
	}
}

.map {
	background-color: #e3e6ee;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	&-container {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-start: 1;
		grid-row-end: -1;
	}
	&-info {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-start: 1;
		grid-row-end: -1;
		pointer-events: none;
		z-index: 1;
		&-card {
			display: grid;
			grid-template-columns: 1fr;
			justify-content: center;
			align-items: center;
			justify-items: end;
			width: 90%;
			height: 100%;
			&-content {
				background-color: white;
				padding: 3rem;
				width:500px;
				height: fit-content;
			}
		}
	}
}

@media screen and (max-width: 600px){
	.contact-us{
		&-top{
			padding: 40px 10px;
			&-half{
				width: 100%;
			}
		}
		&-content{
			margin: 0 10px 40px;
			grid-template-columns: 1fr;
			&-form{
				order:2;
				padding: 20px;
			}
			img{
				order:1;
			}
		}
		&-cards{
			margin: 40px 10px;
			grid-template-columns: 1fr;
		}
	}
	.map{
		grid-template-columns: 1fr;
		&-info {
			grid-column: auto;
			grid-row: auto; 
			&-card{
				width: 100%;
				padding: 10px;
				&-content{
					width: 100%;
				}
			}
		}
	}
}