.events-top {
	background-color: $primary;
	&-content {
		@include container-sm;
		padding: 100px 0;
		text-align: center;
		&-half{
			width: 75%; 
			margin: auto;
		}
	}
}

.events {
	&-card {
		@include container;
		display: grid;
		grid-template-columns: auto auto;
		gap: 80px;
		margin: 100px auto;
		height: fit-content;
		&-content {
			margin: auto auto;
			&-btn {
				@include btn-primary;
				margin-top: 20px;
				padding: 15px 30px;
				@include flex(row, center, center, 10px);
				&:hover {
					opacity: 0.9;
				}
			}
		}
		&-img {
			position: relative;
			width: 580px;
			height: 580px;
			&-bg {
				background-color: $primary;
				position: absolute;

				bottom: 0;
				right: 0;
				width: 530px;
				height: 530px;
			}
			&-top {
				position: absolute;
				top: 0;
				left: 0;
				width: 530px;
				height: 530px;
			}
		}
	}
}

.event-details {
	position: relative;
	&-content {
		@include container-sm;
		padding-top: 100px;
		text-align: center;
	}
}

@media screen and (max-width: 600px){
	.events-top{
		&-content{
			padding: 40px 10px;
			&-half{
				width: 100%;
			}
		}
	}	
}