.hero-section {
	@include container;
	height: fit-content;
	&-content {
		position: relative;
		width: 50%;
		padding: 100px 30px 100px 0;
		&-btn {
			@include btn-primary-ar;
			&:hover {
				opacity: 0.9;
			}
		}
	}
	&-img {
		position: absolute;
		left: 50%;
		right: 0;
		height: 715px;
		z-index: -2;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.tags {
	@include flex(row, start, center, 1.5rem);
	span {
		@include flex(row, center, center, 0.625rem);
	}
}

.service-section {
	background-color: $primary;
	&-container {
		@include container;
		padding: 80px 0;
	}
	.services-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2px;
		.service {
			background-color: rgba(255, 255, 255, 0.06);
			padding: 2.75rem;
			&-img {
				display: none;
				height: 100%;
				width: 40%;
			}
			&-card {
				@include flex(column, flex-start, flex-start, 1rem);
				color: white;
				&-btn {
					@include btn-basic;
					@include flex(row, flex-start, center, 0.75rem);
				}
			}
			&:hover {
				padding: 0;
				background-color: white;
				@include flex(row, flex-start, center, 0px);
				.service-img {
					display: block;
				}
				.service-card {
					padding: 1.25rem;
					color: $primary;
					p {
						color: $primary;
					}

					&-btn {
						color: $secondary;
					}
				}
			}
		}
	}
}

.about-section {
	margin: 100px auto;
	&-container {
		@include container;
		display: grid;
		grid-template-columns: auto auto;
		gap: 120px;
		height: fit-content;
		.about-section-content {
			margin: auto auto;
			&-btn {
				@include btn-primary-ar;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		.about-section-img {
			position: relative;
			width: 580px;
			height: 580px;
			&-bg {
				background-color: $primary;
				position: absolute;

				bottom: 0;
				right: 0;
				width: 530px;
				height: 530px;
			}
			&-top {
				position: absolute;
				top: 0;
				left: 0;
				width: 530px;
				height: 530px;
			}
		}
	}
	&-stats {
		margin: 100px;
		background-color: $primary-8;
		padding: 80px;
		.stats {
			margin-top: 30px;
			@include flex(row, center, center, 100px);
		}
	}
}

.process-section {
	background-color: $primary;
	margin: 100px auto;
	padding: 80px 0;
	&-content {
		@include container;
		&-header {
			display: grid;
			grid-template-columns: 500px auto;
			gap: 3rem;
			margin-bottom: 40px;
		}
		&-content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2px;
			&-card {
				@include flex(column, center, flex-start, 1rem);
				background-color: rgba(255, 255, 255, 0.06);
				padding: 2.75rem;
				color: white;
				.card-no {
					width: 3rem;
					height: 3rem;
					background-color: rgba(255, 255, 255, 0.16);
					@include flex(row, center, center, 0px);
					color: inherit;
					font-weight: 600;
				}
				&-btn {
					@include btn-basic;
					@include flex(row, flex-start, center, 0.75rem);
				}
			}
		}
	}
}

.testimonials {
	margin: 100px;
	background-color: $primary-8;
	padding: 80px 40px;
	&-container {
		@include container;
		&-header {
			display: grid;
			grid-template-columns: 1fr 1fr auto;
			gap: 3rem;
			margin-bottom: 2.5rem;
			&-btn {
				@include btn-primary-ar;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		&-content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;
			&-card {
				background-color: white;
				padding: 2rem;
				&-profile {
					margin-top: 2rem;
					@include flex(row, space-between, center);
				}
			}
		}
	}
}

.blogs-section {
	@include container;
	margin: 100px auto;
	&-header {
		display: grid;
		grid-template-columns: 1fr 1fr auto;
		gap: 3rem;
		margin-bottom: 2.5rem;
		&-btn {
			@include btn-primary-ar;
			&:hover {
				opacity: 0.9;
			}
		}
	}
	&-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		&-card {
			background-color: $primary-8;
			padding: 2rem;
			@include flex(column, center, flex-start, 1.5rem);
			img {
				width: 100%;
			}
			&-btn {
				@include btn-primary-ar;
				background-color: white;
				color: $primary;
				&:hover {
					opacity: 0.9;
				}
			}
		}
	}
}

.contacts {
	background-color: $primary;
	&-container {
		@include container;
		display: grid;
		grid-template-columns: auto 600px;
		gap: 5rem;
		padding: 80px 0;
		&-content {
			@include flex(column, center, flex-start, 2.75rem);
			margin: auto;
			&-header {
				@include flex(column, center, flex-start, 0.5rem);
			}
			&-cards {
				@include flex(column, center, flex-start, 2rem);
				width: 100%;
				&-card {
					background-color: rgba(255, 255, 255, 0.06);
					width: 100%;
					padding: 2rem;
					@include flex(column, center, flex-start, 1rem);
				}
			}
		}
		&-form {
			background-color: white;
			padding: 2.5rem;
			@include flex(column, flex-start, flex-start, 35px);
			form {
				@include flex(column, flex-start, flex-start, 20px);
				width: 100%;
				input,
				textarea {
					padding: 0.75rem 1.125rem;
					width: 100%;
					background-color: #f6f6f4;
					border: none;
				}
				textarea {
					resize: none;
				}
				.form-check {
					@include flex(row, flex-start, center, 6px);
					input {
						width: fit-content;
					}
					label {
						color: rgba(72, 70, 68, 1);
					}
				}
				.btn {
					@include btn-primary-ar;
					width: 100%;
					&:hover {
						opacity: 0.9;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px){
	.hero-section{
		&-content{
			width: 100%;
			padding: 40px 10px;
		}
		&-img{
			position: static;
			height: fit-content;
		}
	}
	.service-section {
		&-container {
			padding: 40px 10px;
		}
		.services-container{
			grid-template-columns: 1fr;
		}
	}
	.about-section{
		margin: 40px 0;
		&-container{
			grid-template-columns: 1fr;
			padding: 40px 10px;
			gap: 40px;
			.about-section-img{
				margin: auto;
				height: 300px;
				width: 300px;
				&-bg{
					height: 280px;
					width: 280px
				}
				&-top{
					height: 280px;
					width: 280px;
					img{
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		&-stats {
			margin: 40px 10px;
			padding: 40px 20px;
			.stats {
				gap: 10px;
				flex-direction: column;
			}
		}
	}
	.process-section {
		margin: 40px 0;
		padding: 40px 10px;
		&-content{
			&-header{
				grid-template-columns: 1fr;
			}
			&-content{
				grid-template-columns: 1fr;
			}
		}
	}
	.testimonials{
		margin: 40px 10px;
		padding: 20px;
		&-container {
			&-header{
				grid-template-columns: 1fr;
			}
			&-content{
				grid-template-columns: 1fr;
			}
		}
	}
	.blogs-section{
		margin: 40px 10px;
		&-header{
			grid-template-columns: 1fr;
		}
		&-content {
			grid-template-columns: 1fr;
		}
	}
	.contacts{
		&-container{
			grid-template-columns: 1fr;
			padding: 40px 10px;
		
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 900px){
	.hero-section{
		&-content{
			padding: 60px 10px;
		}
	}
	.service-section{
		&-container {
			padding: 60px 10px;
		}
		.services-container{
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.about-section{
		margin: 60px 0;
		&-container{
			grid-template-columns: 1fr;
			padding: 60px 10px;
			gap: 60px;
			.about-section-img{
				margin: auto;			
				
			}
		}
		&-stats {
			margin: 60px 10px;
			padding: 60px ;
			.stats {
				flex-wrap: wrap;
			}
		}
	}
	.process-section {
		margin: 60px 0;
		padding: 60px 10px;
		&-content{
			&-header{
				grid-template-columns: 1fr 1fr;
			}
			&-content{
				grid-template-columns: 1fr;
			}
		}
	}
	.testimonials{
		margin: 60px 10px;
		padding: 30px;
		&-container {
			&-header{
				grid-template-columns: 1fr;
			}
			&-content{
				grid-template-columns: 1fr 1fr;
			}
		}
	}
	.blogs-section{
		margin: 60px 10px;
		&-header{
			grid-template-columns: 1fr;
		}
		&-content {
			grid-template-columns: 1fr;
		}
	}
	.contacts{
		&-container{
			grid-template-columns: 1fr;
			padding: 60px 10px;
		
		}
	}
}