.tc-top {
	background-color: $primary-8;
	padding: 100px 0;
	&-content {
		@include container;
	}
}

.tc-content {
	@include container;
	display: grid;
	grid-template-columns: 25% 75%;
	margin: 100px auto;
	ul {
		@include flex(column, flex-start, flex-start, 12px);
		position: sticky;
		top: 40px;
		height: fit-content;
		li {
			padding: 6px 0;
			border-bottom: 1px solid transparent;
			&:hover {
				color: $secondary;
				border-bottom: 1px solid $secondary;
			}
		}
	}
	&-body {
		@include flex(column, center, flex-start, 150px);
	}
}

.bac-p{
	@include container;
}

.bac-card{
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	background-color: rgba(255, 58, 58, 0.08); 
	padding: 2.75rem; 
	max-width: 1200px; 
	margin: 80px auto;
}

@media screen and (max-width: 600px){
	.bac-p{
		padding: 0 10px;
	}
	.bac-card{
		flex-direction: column;
		margin: 40px 10px;
	}
}