* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Public Sans, sans-serif;
}
@import "variables";
@import "mixins";
@import "home";
@import "about";
@import "services";
@import "blogs";
@import "contact";
@import "events";

.header {
	background-color: $primary;

	&-container {
		@include container;
		@include flex(row, space-between, center, 0);
		padding: 15px 0;
		color: white;
	}
	&-contact {
		@include flex(row, flex-start, center, 20px);
	}
	&-social {
		@include flex(row, flex-start, center, 20px);
		font-weight: bold;
		a {
			color: white;
		}
	}
}

.nav-container {
	@include container;
	@include flex(row, space-between, center, 0);
	padding: 15px 0;
	.nav-items {
		@include flex(row, flex-start, center, 10px);
		.dropdown {
			position: relative;
			color: $primary;
			cursor: pointer;
			&-content {
				margin-top: 35px;
			}
			a {
				padding: 33px 20px;
				border-bottom: 4px solid transparent;
				border-radius: 0 0 2px 2px;
				&:hover {
					border-bottom: 4px solid $secondary;
				}
			}

			&:hover {
				color: $secondary;
				.dropdown-content {
					display: block;
				}
			}

			&-content {
				display: none;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				background-color: white;
				z-index: 2;
				height: fit-content;
				width: fit-content;
				.dropdown-link {
					color: $primary;
					padding: 10px 15px;
					text-decoration: none;
					display: block;
					text-wrap: nowrap;
				}
				.dropdown-link:hover {
					color: $secondary;
				}
			}
		}
	}

	div {
		height: 100%;
		a {
			text-decoration: none;
			height: 100%;
			width: 100%;
			padding: 34px 20px;
			border-bottom: 4px solid transparent;
			border-radius: 0 0 2px 2px;
		}
		a:link,
		a:visited {
			color: $primary;
		}
		a:hover,
		a:active {
			color: $secondary;
		}
	}
	div .nav-link:hover {
		border-bottom: 4px solid $secondary;
	}
}

.nav-search {
	@include flex(row, flex-start, center, 20px);
	.search {
		color: $gray;
		font-size: 20px;
	}
	.btn {
		@include btn-primary;
	}
	&:hover {
		opacity: 0.9;
	}
}

.footer-header {
	@include flex(row, space-between, center, 0);
	@include container;
	padding: 30px 0;
}
.social-links {
	@include flex(row, flex-start, center, 20px);
	.social-link {
		height: 50px;
		width: 50px;
		@include flex(row, center, center, 0);
		background-color: $primary-8;
		text-decoration: none;

		color: $primary;
		font-weight: bold;
	}
}

.footer-links {
	@include container;
	@include flex(row, center, center, 140px);
	padding: 80px 0;
	ul {
		margin-top: 24px;
		list-style: none;
		@include flex(column, flex-start, flex-start, 20px);
		li {
			text-wrap: nowrap;
			a {
				text-decoration: none;
				color: $light;
				&:hover {
					color: $dark;
				}
			}
		}
	}
	&-contact {
		@include flex(row, flex-start, center, 50px);
		&-card {
			@include flex(row, flex-start, center, 12px);
			&-icon {
				height: 48px;
				width: 48px;
				@include flex(row, center, center, 0);
				background-color: $primary-8;
				color: $primary;
				font-weight: bold;
				border-radius: 30px;
			}
		}
	}
}

.footer-copyright {
	@include flex(row, space-between, center, 0);
	@include container;
	padding: 20px 0;
	a {
		text-decoration: none;
		margin-left: 25px;
		&:hover {
			color: $secondary;
		}
	}
}

.dividerV {
	border-bottom: 1px solid #e3e6ee;
	width: 100%;
}
.partial-bg {
	background-color: $primary;
	position: absolute;
	height: 600px;
	width: 100%;
	z-index: -1;
}
.breadcrumb {
	@include font-styles(white, 16px, normal, 400, 24px);
	@include flex(row, center, center, 12px);
	margin-top: 20px;
	a {
		text-decoration: none;
		color: inherit;
		&:hover {
			color: $secondary;
		}
	}
}
.h1 {
	@include font-styles($primary, 64px, normal, 700, 84px);
}
.h3 {
	@include font-styles(white, 48px, normal, 600, 68px);
}
.h5 {
	@include font-styles($primary, 32px, normal, 600, 44px);
	text-align: center;
}
.h6 {
	@include font-styles($primary, 26px, normal, 600, 36px);
	text-align: center;
}
.h7 {
	@include font-styles(white, 22px, normal, 600, 30px);
}
.h8 {
	@include font-styles($gray, 18px, normal, 600, 28px);
}
.h9 {
	@include font-styles($primary, 16px, normal, 400, 24px);
}
.h10 {
	@include font-styles($secondary, 14px, normal, 400, 20px);
}

.h11 {
	@include font-styles(white, 12px, normal, 400, 18px);
}
