@import "variables";
@import "mixins";
@import "home";
@import "about";
@import "services";
@import "blogs";
@import "contact";
@import "events";
@import "events";
@import "t&c";

.header {
	background-color: $primary;

	&-container {
		@include container;
		@include flex(row, space-between, center, 0);
		padding: 15px 0;
		color: white;
	}
	&-contact {
		@include flex(row, flex-start, center, 20px);
	}
	&-social {
		@include flex(row, flex-start, center, 1.25rem);
		a {
			color: white;
		}
	}
}

.nav-container {
	@include container;
	@include flex(row, space-between, center, 0);
	padding: 15px 0;
	.nav-logo{
		a{
			width: fit-content;
			padding: 0;
		}
		&-menu{
			@include btn-primary-ar;
			display: none;
		}
		
	}
	.nav-items {
		@include flex(row, flex-start, center, 10px);
		.dropdown {
			position: relative;
			color: $primary;
			cursor: pointer;
			&-content {
				margin-top: 35px;
			}
			a {
				padding: 33px 20px;
				border-bottom: 4px solid transparent;
				border-radius: 0 0 2px 2px;
				&:hover {
					border-bottom: 4px solid $secondary;
				}
			}

			&:hover {
				color: $secondary;
				.dropdown-content {
					display: block;
				}
			}

			&-content {
				display: none;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				background-color: white;
				z-index: 2;
				height: fit-content;
				width: fit-content;
				.dropdown-link {
					color: $primary;
					padding: 10px 15px;
					text-decoration: none;
					display: block;
					white-space: nowrap;
				}
				.dropdown-link:hover {
					color: $secondary;
				}
			}
		}
	}

	div {
		height: 100%;
		a {
			height: 100%;
			width: 100%;
			padding: 34px 20px;
			border-bottom: 4px solid transparent;
			border-radius: 0 0 2px 2px;
		}
		a:link,
		a:visited {
			color: $primary;
		}
		a:hover,
		a:active {
			color: $secondary;
		}
	}
	div .nav-link:hover {
		border-bottom: 4px solid $secondary;
	}
}

.nav-search {
	@include flex(row, flex-start, center, 20px);
	.search {
		color: $gray;
		font-size: 1.25rem;
		cursor: text;
	}
	.btn {
		@include btn-primary;
	}
	&:hover {
		opacity: 0.9;
	}
}

.footer-header {
	@include flex(row, space-between, center, 0);
	@include container;
	padding: 30px 0;
}

.social-links {
	@include flex(row, flex-start, center, 1.25rem);
	.social-link {
		height: 3rem;
		width: 3rem;
		@include flex(row, center, center, 0);
		background-color: $primary-8;
		color: $primary;
	}
}

.footer-links {
	@include container;
	@include flex(row, space-between, center, 7.5rem);
	padding: 5rem 0;
	&-menus{
		@include flex(row, center, center, 6.125rem);
		ul {
		margin-top: 1.5rem;
		@include flex(column, flex-start, flex-start, 1.25rem);
		li {
			white-space: nowrap;
			a {
				color: $light;
				&:hover {
					color: $dark;
				}
			}
		}
	}
	}
	
	&-contact{
		&-info {
		@include flex(row, flex-start, center, 3rem);
		&-card {
			@include flex(row, flex-start, center, 0.75rem);
			&-icon {
				height: 3rem;
				width: 3rem;
				@include flex(row, center, center, 0);
				background-color: $primary-8;
				color: $primary;
				border-radius: 3rem;
			}
		}
		}
	}
}

.footer-copyright {
	@include flex(row, space-between, center, 0);
	@include container;
	padding: 20px 0;
	&-left{order: 1;}
	&-right{order: 2;}
	a {
		
		&:hover {
			color: $secondary;
		}
	}
}

.dividerV {
	border-bottom: 1px solid #e3e6ee;
	width: 100%;
}

.partial-bg {
	background-color: $primary;
	position: absolute;
	height: 37.5rem;
	width: 100%;
	z-index: -1;
}

.breadcrumb {
	@include font-styles(white, 1rem, normal, 400, 1.5rem);
	@include flex(row, center, center, 0.75rem);
	margin-top: 1.25rem;
	a {
		text-decoration: none;
		color: inherit;
		&:hover {
			color: $secondary;
		}
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	padding-top: 6.25rem;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $dark;
	background-color: rgba(75, 75, 75, 0.4);

	&-content {
		background-color: white;
		margin: auto;
		padding: 2.5rem;
		width: 70%;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		position: relative;
		&-half{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}
		input,
		textarea {
			border: 1px solid $primary-8;
		}

		.time-pick {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 0.75rem;
			.input-container {
				position: relative;
				display: inline-block;
				width: auto;
				height: 3rem;
			}

			input[type="radio"] {
				display: none;
			}

			input[type="radio"]:checked + label {
				background-color: $secondary;
				color: white;
			}

			label {
				position: absolute;
				display: block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				color: $primary;
				text-align: center;
				background-color: white;
				line-height: 3rem;
				border-radius: 4px;
				border: 1px solid $primary-8;
			}

			label:hover,
			input[type="radio"]:checked + label:hover {
				cursor: pointer;
				background-color: $secondary;
				color: white;
			}
		}

		.package-pick {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5rem;
			.package-card {
				padding: 2rem;
				text-align: center;
				border: 1px solid $primary-8;
				border-radius: 4px;
			}
			.input-container {
				position: relative;
				display: inline-block;

				height: 3rem;
				width: 10rem;
			}

			input[type="radio"] {
				display: none;
			}

			input[type="radio"]:checked + label {
				background-color: $secondary;
				color: white;
			}

			label {
				position: absolute;
				display: block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				color: $secondary;
				text-align: center;
				white-space: nowrap;
				background-color: white;
				line-height: 3rem;
				border-radius: 4px;
				border: 1px solid $secondary;
			}

			label:hover,
			input[type="radio"]:checked + label:hover {
				cursor: pointer;
				background-color: $secondary;
				color: white;
			}
		}
	}

	.modal-btns {
		width: fit-content;
		margin-left: auto;
		@include flex(row, center, center, 1rem);
		.close {
			@include btn-primary-ar;
			margin-top: 1.25rem;
			color: $gray;
			background-color: $primary-8;
			&:hover {
				opacity: 0.9;
			}
		}
	}
}

.h1 {
	@include font-styles($primary, 4rem, normal, 700, 5.25rem);
}
.h3 {
	@include font-styles(white, 3rem, normal, 600,4.25rem);
}
.h4 {
	@include font-styles($primary, 2.375rem, normal, 600, 3.25rem);
}
.h5 {
	@include font-styles($primary, 2rem, normal, 600, 2.75rem);
	text-align: center;
}
.h6 {
	@include font-styles($primary, 1.625rem, normal, 600, 2.25rem);
	text-align: center;
}
.h7 {
	@include font-styles(white, 1.375rem, normal, 600, 1.875rem);
}
.h8 {
	@include font-styles($gray, 1.125rem, normal, 600, 1.75rem);
}
.h9 {
	@include font-styles($primary, 1rem, normal, 400, 1.5rem);
}
.h10 {
	@include font-styles($secondary, 0.875rem, normal, 400, 1.25rem);
}
.h11 {
	@include font-styles(white, 0.75rem, normal, 400, 1.125rem);
}

@media screen and (max-width: 600px){
	:root{
		font-size: 12px;
	}
	.header{
		&-container{
			padding: 5px 10px;
		}
		&-contact {
			@include flex(column, center, flex-start, 5px);
		}		
	}	
	.nav-container{
		@include flex(column, center, center, 20px);
		padding: 10px; 
		.nav-logo{
			width: 100%;
			@include flex(row, space-between, center, 0px);
			&-menu{
				display: block;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		.nav-items {
			display: none;
			flex-direction: column;
			justify-content: center;
			.dropdown{
				&-content {
					margin-top: 5px;
				}
				a{
					padding: 5px;
				}
			}
			div{
				a{
					padding: 5px;
				}
			}
		}
	}
	.nav-search {
		display: none;
		flex-direction: column;
		justify-content: center;
		gap:10px;
	}
	.footer-header{
		padding: 10px;
	}
	.footer-links{
		flex-direction: column;
		gap: 40px;
		padding: 40px 10px;
		text-align: center;
		&-menus{
			flex-direction: column;
			gap: 40px;	
			ul{
				justify-content: center;
				align-items: center;				
			}		
		}
		&-contact{
			&-info{
				justify-content: center;
			}
		}			
	}
	.footer-copyright{
		flex-direction: column;
		justify-content: center;
		gap:20px;
		&-left{order:2;}
		&-right{order:1;}
	}
	.modal{
		&-content{
			width: 90%;	
			&-half{
				grid-template-columns: 1fr;
			}		
			.package-pick{
				grid-template-columns:  1fr;
			}
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 900px){
	:root{
		font-size: 14px;
	}
	.header{
		&-container{
			padding: 10px;
		}
			
	}
	.nav-container{
		@include flex(column, center, center, 20px);
		padding: 10px; 
		.nav-logo{
			width: 100%;
			@include flex(row, space-between, center, 0px);
			&-menu{
				display: block;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		.nav-items {
			display: none;
			flex-direction: column;
			justify-content: center;
			.dropdown{
				&-content {
					margin-top: 5px;
				}
				a{
					padding: 5px;
				}
			}
			div{
				a{
					padding: 5px;
				}
			}
		}
	}
	.nav-search {
		display: none;
		flex-direction: column;
		justify-content: center;
		gap:10px;
	}
	.footer-header{
		padding: 20px 10px;
	}
	.footer-links{
		flex-direction: column;
		gap: 60px;
		padding: 60px 10px;
		text-align: center;
		&-menus{
			ul{
				justify-content: center;
				align-items: center;				
			}
		}
		&-contact{
			&-info{
				justify-content: center;
			}
		}
	}
	.footer-copyright{
		padding: 10px;
	}
	.modal{
		&-content{
			width: 80%;
		}
	}
}
