<section class="blogs-section">
	<div class="blogs-section-header">
		<div>
			<p class="h10">OUR BLOGS</p>
			<h3 class="h3" style="color: #023a51; margin-top: 8px">Resources and Stories Center</h3>
		</div>
		<p class="h8" style="font-weight: 400; margin: auto 0">
			Explore insightful content that keeps you ahead of the curve and connected to the pulse of
			what's happening.
		</p>
		<div style="margin: auto 0">
			<button class="testimonials-container-header-btn" onclick="document.location='./blogs.html'">
				READ ALL BLOGS <i class="fa-solid fa-arrow-right"></i>
			</button>
		</div>
	</div>
	<div class="blogs-section-content">
		<div class="blogs-section-content-card">
			<img src="./src/assets/png/blog1.png" alt="" />
			<p class="h7" style="color: #023a51">The rise of digital wallets: a fintech game-changer</p>
			<p class="h9" style="color: #59667d">
				When evaluating potential agencies, consider their expertise in various aspects of branding
				and design.
			</p>
			<button
				class="blogs-section-content-card-btn"
				onclick="document.location='./blog-details.html'"
			>
				READ MORE <i class="fa-solid fa-arrow-right"></i>
			</button>
		</div>
		<div class="blogs-section-content-card">
			<img src="./src/assets/png/blog2.png" alt="" />
			<p class="h7" style="color: #023a51">The rise of digital wallets: a fintech game-changer</p>
			<p class="h9" style="color: #59667d">
				When evaluating potential agencies, consider their expertise in various aspects of branding
				and design.
			</p>
			<button
				class="blogs-section-content-card-btn"
				onclick="document.location='./blog-details.html'"
			>
				READ MORE <i class="fa-solid fa-arrow-right"></i>
			</button>
		</div>
		<div class="blogs-section-content-card">
			<img src="./src/assets/png/blog3.png" alt="" />
			<p class="h7" style="color: #023a51">The rise of digital wallets: a fintech game-changer</p>
			<p class="h9" style="color: #59667d">
				When evaluating potential agencies, consider their expertise in various aspects of branding
				and design.
			</p>
			<button
				class="blogs-section-content-card-btn"
				onclick="document.location='./blog-details.html'"
			>
				READ MORE <i class="fa-solid fa-arrow-right"></i>
			</button>
		</div>
	</div>
</section>
