<footer>
	<section class="footer-header">
		<div><img src="./src/assets/svg/logo.svg" alt="" /></div>
		<div class="social-links">
			<a href="https://www.facebook.com/" class="social-link"
				><i class="fa-brands fa-facebook-f"></i
			></a>
			<a href="https://twitter.com/?lang=en" class="social-link"
				><i class="fa-brands fa-x-twitter"></i></a
			><a href="https://www.instagram.com/" class="social-link"
				><i class="fa-brands fa-square-instagram"></i
			></a>
		</div>
	</section>
	<div class="dividerV"></div>
	<section class="footer-links">
		<div>
			<p class="h9" style="color: #59667d; margin-bottom: 40px">
				Lorem ipsum dolor sit amet consectetur. Libero nisl ullamcorper ullamcorper tincidunt nec
				lorem lectus velit netus. Suspendisse odio nisl tellus urna lacus euismod dolor. Est odio
				fringilla commodo in odio nunc ridiculus eget.
				<span class="h9" style="color: #e22329; font-weight: 600; cursor: pointer">Rear More</span>
			</p>
			<div class="footer-links-contact">
				<div class="footer-links-contact-card">
					<div class="footer-links-contact-card-icon">
						<i class="fa-solid fa-phone-volume"></i>
					</div>
					<div>
						<p class="h11" style="color: #9a9ea6">Have a question?</p>
						<p class="h9" style="font-weight: 600">310-437-2766</p>
					</div>
				</div>
				<div class="footer-links-contact-card">
					<div class="footer-links-contact-card-icon">
						<i class="fa-solid fa-envelope"></i>
					</div>
					<div>
						<p class="h11" style="color: #9a9ea6">Contact us at</p>
						<p class="h9" style="font-weight: 600">unreal@outlook.com</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p class="h8" style="color: black">ABOUT</p>
			<ul>
				<li class="h10"><a href="">About us</a></li>
				<li class="h10"><a href="">Blog</a></li>
				<li class="h10"><a href="">Careers</a></li>
				<li class="h10"><a href="">Jobs</a></li>
				<li class="h10"><a href="">In Press</a></li>
			</ul>
		</div>
		<div>
			<p class="h8" style="color: black">SUPPORT</p>
			<ul>
				<li class="h10"><a href="">Contact us</a></li>
				<li class="h10"><a href="">Online Chat</a></li>
				<li class="h10"><a href="">Whatsapp</a></li>
				<li class="h10"><a href="">Telegram</a></li>
				<li class="h10"><a href="">Ticketing</a></li>
			</ul>
		</div>
		<div>
			<p class="h8" style="color: black">FAQ</p>
			<ul>
				<li class="h10"><a href="">Account</a></li>
				<li class="h10"><a href="">Manage Deliveries</a></li>
				<li class="h10"><a href="">Orders</a></li>
				<li class="h10"><a href="">Payments</a></li>
				<li class="h10"><a href="">Returns</a></li>
			</ul>
		</div>
	</section>
	<div class="dividerV"></div>
	<section class="footer-copyright">
		<p class="h9" style="color: #59667d">© Canadian Horizon All Rights Reserved.</p>
		<div><a class="h9" href="">Terms & Conditions</a><a class="h9" href="">Privacy Policy</a></div>
	</section>
</footer>
