<section id="myModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-content-half">
			<div>
				<label class="h11" style="color: #023a51; margin-bottom: 0.375rem">
					First Name (As Per Passport)<span style="color: #e22329">*</span>
				</label>
				<input
					class="h10"
					style="width: 100%; padding: 0.5rem 1rem; color: #023a51"
					type="text"
					placeholder="Type Here"
					title="Enter your first name" >
			</div>
			<div>
				<label class="h11" style="color: #023a51; margin-bottom: 0.375rem">
					Last Name (As Per Passport)<span style="color: #e22329">*</span>
				</label>
				<input
					class="h10"
					style="width: 100%; padding: 0.5rem 1rem; color: #023a51"
					type="text"
					placeholder="Type Here"
					title="Enter your last name" >
			</div>
		</div>
		<div class="modal-content-half">
			<div>
				<label class="h11" style="color: #023a51; margin-bottom: 0.375rem">Country Code</label>
				<input
					class="h10"
					style="width: 100%; padding: 0.5rem 1rem; color: #023a51"
					type="text"
					placeholder="Type Here"
					title="Enter your country code">
			</div>
			<div>
				<label class="h11" style="color: #023a51; margin-bottom: 0.375rem">WhatsApp number</label>
				<input
					class="h10"
					style="width: 100%; padding: 0.5rem 1rem; color: #023a51"
					type="text"
					placeholder="Type Here"
					title="Enter your whatsApp number">
			</div>
		</div>
		<div style="width: 100%">
			<label  class="h11" style="color: #023a51; margin-bottom: 0.375rem">
				Email Address<span style="color: #e22329">*</span>
			</label>
			<input
				class="h10"
				style="width: 100%; padding: 0.5rem 1rem; color: #023a51"
				type="text"
				placeholder="Type Here"
				title="Enter your email address" >
		</div>
		<div style="width: 100%">
			<label  class="h11" style="color: #023a51; margin-bottom: 0.375rem">
				Please share the main discussion points that will help us prepare for the meeting. If you
				are not sure about the discussion, please write "N/A" in the box below.
				<span style="color: #e22329">*</span>
			</label>
			<textarea
				placeholder="Type Here"
				class="h10"
				style="width: 100%; padding: 0.5rem 1rem; color: #023a51; resize: none"
				rows="5"
				title="Write your discussion topic"></textarea>
		</div>
		<div class="modal-content-half">
			<div>
				<p class="h11" style="color: #023a51; margin-bottom: 0.375rem">
					Pick a date<span style="color: #e22329">*</span>
				</p>
				<img src="./src/assets/png/DatePicker.png" style="width: 100%" alt="date picker" title="pick a date">
			</div>
			<div >
				<p class="h11" style="color: #023a51; margin-bottom: 0.375rem">
					Pick a time<span style="color: #e22329">*</span>
				</p>

				<div class="time-pick" title="Pick a time">
					<div class="input-container">
						<input id="1" type="radio" name="time-pick" value="1">
						<label for="1"><span>8:15 am</span></label>
					</div>
					<div class="input-container">
						<input id="2" type="radio" name="time-pick" value="2">
						<label for="2"><span>9:15 am</span></label>
					</div>
					<div class="input-container">
						<input id="3" type="radio" name="time-pick" value="3">
						<label for="3"><span>10:15 am</span></label>
					</div>
					<div class="input-container">
						<input id="4" type="radio" name="time-pick" value="4">
						<label for="4"><span>11:15 am</span></label>
					</div>
					<div class="input-container">
						<input id="5" type="radio" name="time-pick" value="5">
						<label for="5"><span>12:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="6" type="radio" name="time-pick" value="6">
						<label for="6"><span>1:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="7" type="radio" name="time-pick" value="7">
						<label for="7"><span>2:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="8" type="radio" name="time-pick" value="8">
						<label for="8"><span>3:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="9" type="radio" name="time-pick" value="9">
						<label for="9"><span>4:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="10" type="radio" name="time-pick" value="10">
						<label for="10"><span>5:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="11" type="radio" name="time-pick" value="11">
						<label for="11"><span>6:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="12" type="radio" name="time-pick" value="12">
						<label for="12"><span>7:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="13" type="radio" name="time-pick" value="13">
						<label for="13"><span>8:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="14" type="radio" name="time-pick" value="14">
						<label for="14"><span>9:15 pm</span></label>
					</div>
					<div class="input-container">
						<input id="15" type="radio" name="time-pick" value="15">
						<label for="15"><span>10:15 pm</span></label>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%">
			<p class="h11" style="color: #023a51; margin-bottom: 0.375rem">
				Appointment booking for<span style="color: #e22329">*</span>
			</p>
			<div class="package-pick" title="Pick a package">
				<div class="package-card">
					<p class="h8" style="color: #023a51; margin-bottom: 0.75rem">
						30 mins session with RCIC-IRB
					</p>
					<p class="h10" style="color: #59667d; margin-bottom: 0.75rem">
						Applicable for any kind of Immigration related matters which are submitted to either
						IRCC or
					</p>
					<div class="input-container">
						<input id="100" type="radio" name="package-pick" value="100">
						<label for="100"><span>PRICE: USD $60</span></label>
					</div>
				</div>
				<div class="package-card">
					<p class="h8" style="color: #023a51; margin-bottom: 0.75rem">
						30 mins session with RCIC-IRB
					</p>
					<p class="h10" style="color: #59667d; margin-bottom: 0.75rem">
						Applicable for any kind of Immigration related matters which are submitted to either
						IRCC or
					</p>
					<div class="input-container">
						<input id="101" type="radio" name="package-pick" value="101">
						<label for="101"><span>PRICE: USD $60</span></label>
					</div>
				</div>
				<div class="package-card">
					<p class="h8" style="color: #023a51; margin-bottom: 0.75rem">
						30 mins session with RCIC-IRB
					</p>
					<p class="h10" style="color: #59667d; margin-bottom: 0.75rem">
						Applicable for any kind of Immigration related matters which are submitted to either
						IRCC or
					</p>
					<div class="input-container">
						<input id="102" type="radio" name="package-pick" value="102">
						<label for="102"><span>PRICE: USD $60</span></label>
					</div>
				</div>
				<div class="package-card">
					<p class="h8" style="color: #023a51; margin-bottom: 0.75rem">
						30 mins session with RCIC-IRB
					</p>
					<p class="h10" style="color: #59667d; margin-bottom: 0.75rem">
						Applicable for any kind of Immigration related matters which are submitted to either
						IRCC or
					</p>
					<div class="input-container">
						<input id="103" type="radio" name="package-pick" value="103">
						<label for="103"><span>PRICE: USD $60</span></label>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%; position: relative">
			<input
				class="h10"
				style="width: 100%; padding: 0.5rem 2.5rem; color: #023a51"
				type="text"
				placeholder="Card Number" 
				title="Enter your Card number">
			<i class="fa-regular fa-credit-card" style="position: absolute; left: 0.625rem; top: 0.5rem; color: #59667d"></i>
			<p class="h10" style="position: absolute; right: 0.625rem; top: 0.5rem; color: #59667d">
				MM/ YY CVC
			</p>
		</div>
		<div style="width: 100%; color: #59667d; margin-bottom: 1.25rem" class="h10">
			<input type="checkbox" title="Agree to the terms and conditions">
			<label>I accept the terms and conditions</label>
		</div>
		<div class="dividerV"></div>
		<div class="modal-btns">
			<button class="close" style="color: white; background-color: #e22329" title="Confirm scheduling event">Schedule Event</button>
			<button class="close" title="Cancel scheduling event">cancel</button>
		</div>
	</div>
</section>

<script>
	var modal = document.getElementById("myModal");
	var btn = document.getElementsByClassName("myModalBtn")[0];
	var submit = document.getElementsByClassName("close")[0];
	var cancel = document.getElementsByClassName("close")[1];

	btn.onclick = function () {
		modal.style.display = "block";
	};
	submit.onclick = function () {
		modal.style.display = "none";
	};
	cancel.onclick = function () {
		modal.style.display = "none";
	};
</script>

