<section class="process-section">
	<div class="process-section-content">
		<div class="process-section-content-header">
			<div>
				<p class="h10" style="color: white; margin-bottom: 8px">APPLICATION PROCESS</p>
				<h3 class="h3">Easy 3-step funding solution</h3>
			</div>
			<p class="h8" style="color: white; font-weight: 400; margin: auto">
				Obtaining funding is hassle-free - apply online, receive a same-day decision, sign your
				contract.
			</p>
		</div>
		<div class="process-section-content-content">
			<div class="process-section-content-content-card">
				<span class="h9 card-no">01</span>
				<p class="h7">Pre-Assessment</p>
				<p class="h10" style="color: inherit">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
				</p>
				<button class="process-section-content-content-card-btn">
					Pre-Assessment Form <i class="fa-solid fa-chevron-right"></i>
				</button>
			</div>
			<div class="process-section-content-content-card">
				<span class="h9 card-no">02</span>
				<p class="h7">Consultation Meeting</p>
				<p class="h10" style="color: inherit">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
				</p>
				<button class="process-section-content-content-card-btn">
					Book a Consultation <i class="fa-solid fa-chevron-right"></i>
				</button>
			</div>
			<div class="process-section-content-content-card">
				<span class="h9 card-no">03</span>
				<p class="h7">Application</p>
				<p class="h10" style="color: inherit">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
				</p>
				<button class="process-section-content-content-card-btn">
					Services <i class="fa-solid fa-chevron-right"></i>
				</button>
			</div>
		</div>
	</div>
</section>
