<section class="service-section">
	<div class="service-section-container">
		<h3 class="h3" style="margin-bottom: 40px; text-align: center">We Have a Service For You</h3>
		<div class="services-container">
			<div class="service">
				<img class="service-img" src="./src/assets/png/card_cover.png" alt="" />
				<div class="service-card">
					<p class="h7">Family Sponsorship</p>
					<p class="h10" style="color: inherit">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
					</p>
					<button class="service-card-btn" onclick="document.location='./service-details.html'">
						Explore Now <i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
			<div class="service">
				<img class="service-img" src="./src/assets/png/card_cover.png" alt="" />
				<div class="service-card">
					<p class="h7">Canadian Work Permit</p>
					<p class="h10" style="color: inherit">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
					</p>
					<button class="service-card-btn" onclick="document.location='./service-details.html'">
						Explore Now <i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
			<div class="service">
				<img class="service-img" src="./src/assets/png/card_cover.png" alt="" />
				<div class="service-card">
					<p class="h7">LMIA Application</p>
					<p class="h10" style="color: inherit">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
					</p>
					<button class="service-card-btn" onclick="document.location='./service-details.html'">
						Explore Now <i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
			<div class="service">
				<img class="service-img" src="./src/assets/png/card_cover.png" alt="" />
				<div class="service-card">
					<p class="h7">Study in Canada</p>
					<p class="h10" style="color: inherit">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
					</p>
					<button class="service-card-btn" onclick="document.location='./service-details.html'">
						Explore Now <i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
			<div class="service">
				<img class="service-img" src="./src/assets/png/card_cover.png" alt="" />
				<div class="service-card">
					<p class="h7">Start-Up Visa</p>
					<p class="h10" style="color: inherit">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
					</p>
					<button class="service-card-btn" onclick="document.location='./service-details.html'">
						Explore Now <i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
			<div class="service">
				<img class="service-img" src="./src/assets/png/card_cover.png" alt="" />
				<div class="service-card">
					<p class="h7">Immigration to Canada</p>
					<p class="h10" style="color: inherit">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit.
					</p>
					<button class="service-card-btn" onclick="document.location='./service-details.html'">
						Explore Now <i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
